.app.dark {
    --bg-color: #050202;
    --inverted-bg-color: #151118;

    --primary-color: #fbf5f5;
    --secondary-color: #c69ef3;
    --inverted-primary-color: #050202;
    --inverted-secondary-color: #c15858;
}