.app.light {
    --bg-color: #fbf5f5;
    --inverted-bg-color: #f6e7ef;

    --primary-color: #050202;
    --secondary-color: #c15858;
    --inverted-primary-color: #fbf5f5;
    --inverted-secondary-color: #f5fbf8;
}